In [24]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import dtale as dt

In [25]:
#Read in the dataframe
df=pd.read_csv('DatesFixed.csv')

In [26]:
df

,Unnamed: 0,,POLICY_CODE,PRODUCT_CODE,DOC,EXPIRY_DATE,PRODUCT_TYPE,TERMINATION_EFFECTIVE_DATE,TERM,PREMIUM_AMOUNT,...,MODE_NAME,GENDER,MARITAL_STATUS,EDUCATION,BIRTHDAY,INCOME,SALES_CHANNEL,AGENT_PERSISTENCY,CLAWBACK_COMMISSION,TERMINATION_REASON
0,0,1,71114958,BMFW-1,2008-01-01,9/9/9999,Risk,2018-06-01,7991,302.39,...,GSO,M,Single,Others,1965-08-07,111600.0,Tied,86.41,-114.769811,FINANCIAL
1,1,2,60928452,BMFW-1,2006-10-01,9/9/9999,Risk,2019-03-01,7992,307.74,...,DDE,F,Single,Others,1973-04-01,60396.0,Broker,90.25,-83.140400,NaN
2,2,3,60826419,BMFW-1,2006-11-01,9/9/9999,Risk,2015-02-01,7992,276.58,...,GSO,M,Married,Others,1955-01-01,48108.0,Tied,0.00,0.000000,FINANCIAL
3,3,4,90222112,BMFW-1,2009-04-01,9/9/9999,Risk,2015-06-01,7990,207.73,...,Cash,M,Single,Others,1978-08-14,24000.0,Tied,86.62,-105.602085,NaN
4,4,5,61248448,BMFW-1,2007-03-01,9/9/9999,Risk,2014-12-01,7992,198.43,...,ESO(Electronic),M,Married,Others,1965-03-04,55632.0,Broker,82.86,-30.271900,FINANCIAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681451,681451,681452,5001383314,NaN,2016-08-01,9/9/9999,Risk,2021-04-20,7983,119.00,...,Electronic Cash Collection,F,NaN,NaN,1978-09-21,NaN,Tied,0.00,NaN,Death
681452,681452,681453,5001383315,NaN,2015-02-01,9/9/9999,Risk,2021-04-20,7984,69.00,...,Electronic Cash Collection,N,NaN,NaN,1976-12-12,NaN,Tied,0.00,NaN,Death
681453,681453,681454,5001383316,NaN,2016-11-01,9/9/9999,Risk,2021-04-20,7982,119.80,...,Electronic Cash Collection,F,NaN,NaN,1965-01-01,NaN,Tied,0.00,NaN,Death
681454,681454,681455,5001383317,NaN,2018-10-01,9/9/9999,Risk,2021-04-20,7980,79.90,...,Electronic Cash Collection,F,NaN,NaN,1979-12-05,NaN,Tied,0.00,NaN,Death
681455,681455,681456,5001383318,NaN,2019-06-01,9/9/9999,Risk,2021-04-20,7980,79.90,...,Electronic Cash Collection,M,NaN,NaN,1961-04-24,NaN,Tied,0.00,NaN,Death

In [27]:
# convert the 'Date' column to datetime format
df['TERMINATION_EFFECTIVE_DATE']= pd.to_datetime(df['TERMINATION_EFFECTIVE_DATE'])
df['BIRTHDAY']= pd.to_datetime(df['BIRTHDAY'])
df['DOC']= pd.to_datetime(df['DOC'])
#df['EXPIRY_DATE']= pd.to_datetime(df['EXPIRY_DATE'])

In [28]:
#Etract the age from  birth year
#soucrce: https://stackoverflow.com/questions/2217488/age-from-birthdate-in-python
from datetime import date

def calculate_age(born):
    #today = date.today()
    twenty20 = date(2020, 12, 30)
    return twenty20.year - born.year - ((twenty20.month, twenty20.day) < (born.month, born.day))

In [29]:
twenty20 = date(2020, 12, 30)
twenty20

datetime.date(2020, 12, 30)

In [30]:
#Calculate the policy age

df['Policy_Age'] = df['DOC'].apply(calculate_age)
df['Policy_holder_Age'] = df['BIRTHDAY'].apply(calculate_age)

In [31]:
df = df[df.columns.difference(['DOC', 'BIRTHDAY','TERMINATION_EFFECTIVE_DATE'])]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681456 entries, 0 to 681455
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0                        681456 non-null  int64
 1   AGENT_PERSISTENCY    681456 non-null  float64
 2   CLAWBACK_COMMISSION  272104 non-null  float64
 3   EDUCATION            301886 non-null  object
 4   EXPIRY_DATE          681456 non-null  object
 5   GENDER               681456 non-null  object
 6   INCOME               499072 non-null  float64
 7   MARITAL_STATUS       499195 non-null  object
 8   MODE_NAME            681456 non-null  object
 9   POLICY_CODE          681456 non-null  int64
 10  PREMIUM_AMOUNT       681395 non-null  float64
 11  PREMIUM_FREQUENCY    681456 non-null  object
 12  PREMIUM_STATUS       681456 non-null  object
 13  PRODUCT_CODE         659606 non-null  object
 14  PRODUCT_TYPE         681456 non-null  object
 15  Policy_Age           681456 non-null  int64
 16  Policy_holder_Age    681456 non-null  int64
 17  SA                   681456 non-null  float64
 18  SALES_CHANNEL        681456 non-null  object
 19  STATUS_NAME          681456 non-null  object
 20  TERM                 681456 non-null  int64
 21  TERMINATION_REASON   292303 non-null  object
 22  Unnamed: 0           681456 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 119.6+ MB

In [33]:
Dashboard=dt.show(df,ignore_duplicate=True)

In [34]:
Dashboard.open_browser()

Executing shutdown due to inactivity...
Executing shutdown due to inactivity...

2021-06-02 13:56:47,340 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...
Executing shutdown...

2021-06-02 13:56:51,503 - INFO     - Executing shutdown...